CsvUtil/CsvClean/bin
CsvUtil/CsvClean/obj
CsvUtil/CsvClean/_log
CsvUtil/CsvClean/_out
CsvUtil/CsvClean.Tests/bin
CsvUtil/CsvClean.Tests/obj
CsvUtil/CsvClean/CsvClean.config
CsvUtil/CsvParse/bin
CsvUtil/CsvParse/obj
CsvUtil/CsvParse/_out
CsvUtil/Util/bin
CsvUtil/Util/obj
CsvUtil/Test/obj
CsvUtil/CsvParse/_log/runLog.txt
CsvUtil/CsvParse/_log/runLog.txt
CsvUtil/CsvParse.Tests/bin
CsvUtil/CsvParse.Tests/obj
CsvUtil/CsvParse/CsvParse.config

